/* Library.css */
.recipe-details {
    display: flex;
  }
  
  .recipe-details-content {
    flex: 1;
    text-align: left;
  }
  
  .recipe-image {
    margin-right: 100px;
    width: 200px;
    height: 200px;
  }

  .recipe-name::first-letter {
    font-size: 3rem;
    color: red;
}

.search-input {
  width: 200px;
}

.search-button {
  margin-left: 10px !important;
}