/* Library.css */
.recipe-details {
    display: flex;
  }
  
  .recipe-details-content {
    flex: 1;
    text-align: left;
  }
  
  .recipe-image {
    width: 100px;
    height: 100px;
  }

  .recipe-name::first-letter {
    font-size: 3rem;
    color: red;
}