.recipe-view {
    display: flex;
    justify-content: space-between;
  }
  
  .left-section {
    flex: 1;
    padding: 10px;
  }
  
  .right-section {
    padding: 10px;
  }
  
  .recipe-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipe-section {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 40%;
    padding: 5px;
    margin-right: 10px;
  }

  li {
    margin-bottom: 5px;
    position: relative;
  }
  
  .action-buttons {
    right: 0;
    display: flex; 
    cursor: pointer;
  }

  .bi {
    margin-right: 8px;
  }
  